
@theme "/nix/store/qda1dx1sa0adn9g2c9xifk63pm19ylj4-rofi-2.0.0/share/rofi/themes/lb.rasi"

configuration {
    modi:                       "drun,window,ssh";
    show-icons:                 true;
    drun-display-format:        "{name}";
}
